VITE_COOKIE_DATA=VITE_COOKIE_DATA
VITE_FILENAME=VITE_FILENAME
VITE_FILETYPE=VITE_FILETYPE
VITE_FILE_TAG_TYPE=VITE_FILE_TAG_TYPE
VITE_FILE_SUPPORT_TYPE=VITE_FILE_SUPPORT_TYPE
VITE_FILE_TAG=VITE_FILE_TAG
VITE_SITE_DEV=VITE_SITE_DEV
VITE_REPO=VITE_REPO