@theme {
  --breakpoint-mobile: 0rem;
  --breakpoint-tablet: 40rem;
  --breakpoint-desktop: 75rem;
  --breakpoint-xxl: 80rem;

  --font-roboto: "Roboto", sans-serif;
  --font-datatype: "Datatype", sans-serif;
}
